{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        /* Add this style to remove underline and center the "Sign Up" link */
        .signup-link {
            text-decoration: none;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body id="loginBody">

<div class="login-container container">
    <div class="book-container row">
        <div class="book-image col-6">
            <img src="{% static 'image/about2.jpg' %}" class="d-block w-100" alt="image" id="backgroundImage" data-images="{% static 'image/about2.jpg' %},{% static 'image/img-3.jpg' %},{% static 'image/about1.jpg' %}" style="height:80vh;">
        </div>
        <div class="book-form col-6">
            <h1 class="my-5">Login</h1>
            <form method="post" class="login-form my-5">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="my-5" type="submit">Login</button>
            </form>
            <br>
            <p class="my-3">Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a></p>
            <br>
            <div class="text-center">
                <a href="{% url 'account:register' %}" class="signup-link">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/loginScript.js' %}"></script>

</body>
</html>
