{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
   
</head>
<body id="loginBody">

<div class="login-container container-fluid">
    <div class="book-container row">
        <div class="book-form register col-9">
          
            <form method="post" class="login-form my-5">
                {% csrf_token %}
                {% for field in user_form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                {% for field in profile_form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <button class=" btn btn-primary" type="submit">Register</button>
            </form>
         
            <div class="text-center">
                <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </div>
        <div class="book-image col-6">
            <img src="{% static 'image/about2.jpg' %}" class="d-block w-100" alt="image" id="backgroundImage" data-images="{% static 'image/about2.jpg' %},{% static 'image/img-3.jpg' %},{% static 'image/about1.jpg' %}" style="height:95vh;">
        </div>
    </div>
</div>

<script src="{% static 'js/loginScript.js' %}"></script>

</body>
</html>
